body {
  background-color: lightblue;
  font-family: serif;
  color: #2d2c3d;
}

.modal {
  background-color: lightblue;
  font-family: serif;
  color: #2d2c3d;
  margin: auto;
  width: 50%;
}

.flex {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}

.flex-post {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.image-item {
  display: flex;
  padding-top: 20px;
}

.image-post {
  display: flex;
  padding-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.flex-item {
  width: 400;
  height: 120;
  padding-left: 10px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.title {
  margin: 0px;
  font-weight: bold;
}

.post-title {
  margin: 0px;
  font-weight: bold;
  font-size: 30px;
}

.description {

}
.username {
  padding: 0;
  margin-bottom: auto;
  font-style: italic;
}

.comment-text {
  margin-left: 2em;
}