body {
  background-color: lightblue;
  font-family: serif;
  color: #2d2c3d;
}

.modal {
  background-color: lightblue;
  font-family: serif;
  color: #2d2c3d;
  margin: auto;
  width: 80%;
}

.page-title {
  color: black;
  text-decoration: none;
  font-style: italic;
}

#previewing {
  display: flex;
  width: 200;
  height: 120;
  border-style: solid;
}

#uploadimage {
  display: flex;
}

#new-post {
  margin-left: 20;
}

.new-post-item {
  margin: 0;
}

.header {
  background-color: #4286f4;
  border-radius: 4px;
  box-shadow: 0 0 1em #80808066;
}

.header-link {
  color: #0000EE;
  text-decoration: underline;
  padding-right: 10px;
  cursor: pointer;
}

.flex {
  margin-top: 10px;
  list-style: none;
  display: flex;
  background-color: #4286f4;
  border-radius: 4px;
  box-shadow: 0 0 1em #80808066;
}

.flex-post {
  margin-top: 10px;
  list-style: none;
  display: flex;
  flex-direction: column;
  background-color: #4286f4;
  border-radius: 4px;
  box-shadow: 0 0 1em #80808066;
}

.votes {
  margin-left: 10px;
  margin-top: 10px;
  cursor: pointer;
}

.image-item {
  display: flex;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
}

.image-post {
  display: flex;
  padding-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.flex-item {
  width: 400;
  height: 120;
  padding-left: 10px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.title {
  margin: 0px;
  font-weight: bold;
}

.post-title {
  margin: 0px;
  font-weight: bold;
  font-size: 30px;
}

.description {

}
.username {
  padding: 0;
  margin-bottom: auto;
  font-style: italic;
}

.comment-text {
  margin-left: 2em;
}